<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplement Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Supplement Tracker</h1>
        <h3>Click page 2 to start tracking your supplement intake</h3>
        <h3>Come back to page 3 later to download your data and view your shopping list</h3>
        <p><a href="/page2">Go to Page 2</a></p>
        <p><a href="/page3">Go to Page 3</a></p>
    </div>

</body>
</html>