<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 3</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="alignment">
        <p class="alignment"><a href="/">Back to Home</a></p>
        <p class="alignment"><a href="/page2">Go to Page 2</a></p>
    </div>


    <h2>Here you can download the data you have submitted</h2>
    <a href="/download">
        <input type="download" class="pretty-button" value="Download Data">
    </a>
    <a href="/showlist">
        <input class="pretty-button" value="Show Shopping List">
    </a>
</body>
</html>